* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

/*NO MOSTRA SCROLLBAR PERÒ PERMET QUE CONTINUI FUNCIONANT*/
::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.post-list {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: auto;
}

.post-img-1 {
    background-size: cover;
    background-position: center;
    transition: .2s;
}

.post {
    height: 70vh;
    width: 30vw;
    box-shadow: 0 1px 6px 1px rgba(0, 0, 0, .1);
    transition: .2s;
    padding: 2vh;
}

.post:hover {
    transform: translate(-4px);
    box-shadow: 0 1px 14px 2px rgba(0, 0, 0, .15);
}

.post-header {
    height: auto;
    overflow: hidden;
    cursor: pointer;
}

.post:hover .post-img-1 {
    transform: scale(1.1);
}

.post-body {
    padding: 15px;
    text-align: center;
    background-color: #fff;
}

.post-body span {
    display: inline-block;
    color: #999;
    margin-bottom: 10px;
}

.post-body h2 {
    margin-bottom: 15px;

}

.post-body p {
    line-height: 1.5;
    margin-bottom: 20px;
}

@media (max-width: 840px) {
    .content {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 600px) {
    .content {
        grid-template-columns: repeat(1, 1fr);
    }
}