div{
    background-color: white;
    width: 50vw;
    height: 50vh;
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);

}

h1{
    margin: 20%;
}