*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

header {
    position: relative;
    left: 0;
    top: 0;
    width: 1005;
    height: 80px;
}
header h4 {
    position: absolute;
    left: 10%;
    bottom: 1rem;
    font-size: 1.6rem;
}
.form-group{
    width: 100%;
}


h1{
    color: white;
    font-size: 29;
}

h6{
    font-size:larger;
    width: 100%;
    
}

