*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url('ns.jpg');
    background-size: cover;
}

div#logbox{
    background-color: rgba(44, 45, 59, 0.5);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    z-index: -1;
}

div#login{
    background-color: rgb(220, 220, 220);
    width: 40vw;
    height: 100vh;
    position: absolute;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(0, 0, 0);
    top: 50vh;
    left: 80vw;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 30vh 20vh;
}
div#login label{
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
    font-size: 22px;
}

div#login input{
    width: 100%;
    margin-bottom: 4vh;
}

div#login ::placeholder{
    color: rgb(78, 78, 78);
}

div#login input[type="text"], div#login input[type="password"]{
    border: none;
    border-bottom: 20px;
    background-color: transparent;
    border-bottom: 1.2px solid rgba(78,78,78);
    outline: none;
    height: 40px;
    color: rgb(3, 3, 3);
    font-size: 16px;
}

div#login input[type="submit"]{
    border: none;
    outline: none;
    margin-top: 10px;
    background-color: rgb(94, 94, 94);
    height: 50px;
    font-weight: bolder;
    font-size: 18px;
}

div#login input[type="submit"]:hover{
    background: #3378c7;
    box-shadow: 1px 2px 6px 1px rgba(0, 0, 0, .4);
    transform: translate(0px, -2px);
    color: white;
}

div#forgot{
    margin: 0;
    padding: 0;
    display: block;
    float: right;
    font-size: 1rem;
}

div#forgot button{
    background-color: transparent;
    color: rgb(10, 26, 255);
    border: none;
    border-bottom: 1.2px solid rgb(10, 26, 255);
    font-weight: bold;
    margin-left: 1vh;
    cursor: pointer;
}

div div#forgot label{
    font-size: 16px;
}